<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li class="user user-menu">
      <div class="row" *ngIf="isLoggedIn(); else notLoggedIn">
        <!--  -->
        <img [src]="renderImg(user().name)" class="rounded mt-2 mx-2">
        <!-- <img src="{{ user().img }}" class="rounded mt-2 mx-2"> -->
        <span class="text-white">
          Olá, {{user().name}} | <a (click)="logout()">Sair</a>
        </span>
      </div>
      <ng-template #notLoggedIn>
        <a (click)="login()">Entrar</a>


      </ng-template>
    </li>
  </ul>
</div>
