<div class="wrapper">

  <mt-header></mt-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <mt-snackbar></mt-snackbar>

  <footer class="main-footer" style="background: rgb(122, 122, 126);">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>GitHub</b> <a  style="color: aliceblue;" href="https://github.com/lucass235" > Lucas dos Santos</a>

      </div>
      <strong>Meat</strong> Angular Application
    </div>

  </footer>
</div>
